<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Our Appeal</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
  <p>Universe One is a crowd-sourced project built to aid people during their fight against COVID-19 pandemic. We are
    <b>not an official source</b> or approved by any Government body. But rest assured, all our information is derived
    from official sources. Wherever possible, we try to link sources of our information.
  </p>
  <br>
  <h4>List of official organizations:- </h4>
  <ul>
    <li>https://www.who.int/emergencies/diseases/novel-coronavirus-2019</li>
    <li>https://www.mohfw.gov.in/</li>
    <li>https://www.cdc.gov/coronavirus/2019-ncov/index.html</li>
  </ul>
  <br>
  <p>We, being a crowd-sourced project, depend upon your help to gather data and make it accessible to everyone. If you
    want to help us, please visit our <b [routerLink]="['/help-us']">Help Us</b> page. Any sort of help would be much appreciated.
  </p>
  <ion-button expand="block" fill="outline" (click)="openHelpUs()">{{"Help Us" | translate}}</ion-button>

</ion-content>