<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>NGOs working during COVID-19</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ngoListContent">


  <ion-grid class="selectedAreaGrid">
    <ion-row class="selectedAreaRow">
      <ion-col class="selectedAreaCol">
        Global
      </ion-col>
    </ion-row>
    <ion-row class="selectedAreaRow" *ngIf="selectedCountry">
      <ion-col class="selectedAreaCol">
        {{ selectedCountry }}
        <ion-icon name="close-circle" class="ion-float-end" (click)="closeCountry()"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="selectedAreaRow" *ngIf="selectedState">
      <ion-col class="selectedAreaCol">
        {{ selectedState }}
        <ion-icon name="close-circle" class="ion-float-end" (click)="closeState()"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="selectedAreaRow" *ngIf="selectedCity">
      <ion-col class="selectedAreaCol">
        {{ selectedCity }}
        <ion-icon name="close-circle" class="ion-float-end" (click)="closeCity()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid class="areaListGrid" *ngIf="!showNGOList">
    <ion-row *ngFor="let area of areaList" class="areaListRow">
      <ion-col (click)="selectedArea(area)" class="areaListCol">
        {{ area }}
        <ion-icon name="chevron-down" class="ion-float-end"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  
  <ion-grid class="ngoListGrid" *ngIf="showNGOList">
    <ion-row>
      <ion-col>
        <ion-card class="ngoCard" mode="md" *ngFor="let ngo of ngoList">
          <ion-card-header>
            <ion-card-title>
              {{ ngo.typeOfOrganization }} - {{ ngo.name }}
              <!-- <ion-icon name="checkmark-done-circle-outline" *ngIf="ngo.verifiedProfile"></ion-icon> -->
            </ion-card-title>
          </ion-card-header>

          <ion-card-content class="ngoCardContent">
            <ul style="list-style-type:circle;">
              <li *ngIf="ngo.websiteLink" (click)="openWebsite(ngo.websiteLink)">
                <b>Website: </b>{{ ngo.websiteLink }}
                <ion-icon name="open-outline"></ion-icon>
              </li>
              <li *ngIf="ngo.phoneNumber">
                <b>Phone Number: </b>{{ ngo.phoneNumber }}
              </li>
              <li *ngIf="ngo.emailID">
                <b>Email ID: </b>{{ ngo.emailID }}
              </li>
              <li *ngIf="ngo.typeOfDonations">
                <b>Types of Donation accepted: </b>{{ ngo.typeOfDonations }}
              </li>
              <li *ngIf="ngo.localAreas">
                <b>NGO mainly active in: </b>{{ ngo.localAreas }}
              </li>
            </ul>
          </ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col (click)="openWebsite(ngo.facebook)" *ngIf="ngo.facebook" align="center" class="socialMediaLogo">
                <ion-icon name="logo-facebook"></ion-icon>
              </ion-col>
              <ion-col (click)="openWebsite(ngo.instagram)" *ngIf="ngo.instagram" align="center" class="socialMediaLogo">
                <ion-icon name="logo-instagram"></ion-icon>
              </ion-col>
              <ion-col (click)="openWebsite(ngo.twitter)" *ngIf="ngo.twitter" align="center" class="socialMediaLogo">
                <ion-icon name="logo-twitter"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>