


.countryCard {

    .countryCardContent {
        padding: 0;


        .stateCard {

            .stateCardContent {
                padding: 0;


                .cityCard {

                    .cityCardContent {
                        padding: 0;


                        .ngoCard {

                            .ngoCardContent {
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}