<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Help Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h4>Know how to build websites???</h4>
  <ion-button expand="block" fill="outline" (click)="openGithub()">
    <ion-icon slot="start" name="logo-github"></ion-icon>
    Catch us on Github
  </ion-button>
  <br>
  <h4>Have some information on Organizations or Individuals working for COVID-19 relief!!!</h4>
  <ion-button expand="block" fill="outline" (click)="openAddNGOForm()">
    <ion-icon slot="start" name="document-text"></ion-icon>
    Fill this form
  </ion-button>
  <br>
  <h4>Want to add or modify information on our website???</h4>
  <ion-button expand="block" fill="outline" (click)="openContactUsForm()">
    <ion-icon slot="start" name="warning"></ion-icon>
    Contact Us
  </ion-button>
  <br>

</ion-content>
