<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{"Disclaimer" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <p>The information provided on this website is only for information sake. Universe One team does not in
    any form or manner endorse the information so provided on the website. We strive to
    provide factual and unbiased information to users to assist in making informed choices.
    Before relying on the information provided on this website, users should carefully evaluate the
    accuracy, completeness and relevance of the information for their specific purposes and use, carry
    out usual due diligence, and obtain professional advice appropriate for their circumstances.</p>

  <p>Links to other websites are inserted for convenience and do not constitute endorsement of material
    on those websites or of any associated organisation or service. These external information sources
    should be assumed to be outside the control of Universe One team for the purposes of any due
    diligence. It is thus the responsibility of users to ascertain whether the information on those
    websites is current, accurate, reliable and correct.</p>

  <p>The names mentioned in this list are not exclusive or has not been verified by Universe One team and do not
    constitute endorsement of names in any manner. Any donations
    made by a company or individual should carefully evaluate the accuracy, completeness and
    relevance of the information for their specific purposes and use, carry out usual due diligence, and
    obtain professional advice appropriate for their circumstances before making donation of their
    money to the organisation or organisations.</p>

  <p>This list has been compiled through primary and secondary research done by the Universe One team. In case
    the details of any organisation doing similar work in the field of COVID-19 Relief Management is not
    found mentioned in the attached list please 
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdbCRLqfUORGsf-qKl2W-yCqRZ5ydHZSqugFx5fvHZvBlZEHA/viewform" target="_blank">
      fill this form
    </a> to let us know.</p>

</ion-content>