<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">

          <ion-button expand="block" fill="outline" mode="md" (click)="clickedOurAppeal()" class="menuAppealButton">
            🙏🙏 {{"Our Appeal" | translate}} 🙏🙏
          </ion-button>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
              detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title | translate}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>


      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-grid>
            <ion-row>
              <ion-col (click)="openWebsite('facebook')" align="center" class="menuLogo">
                <ion-icon name="logo-facebook"></ion-icon>
              </ion-col>
              <ion-col (click)="openWebsite('github')" align="center" class="menuLogo">
                <ion-icon name="logo-github"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
      </ion-footer>

    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>